<script setup lang="ts">
import { ref, computed, watchEffect } from 'vue'

interface TodoItem {
  id: number
  title: string
  completed: boolean
}

const STORAGE_KEY = 'vue-todomvc'

const filters = {
  all: (todos: TodoItem[]) => todos,
  active: (todos: TodoItem[]) => todos.filter((todo) => !todo.completed),
  completed: (todos: TodoItem[]) => todos.filter((todo) => todo.completed)
}

const addText = ref('')
const todos = ref<TodoItem[]>(uni.getStorageSync(STORAGE_KEY) || [])
const visibility = ref<keyof typeof filters>('all')
const editedTodo = ref<TodoItem | null>(null)

const remaining = computed(() => filters.active(todos.value).length)
const filteredTodos = computed(() => filters[visibility.value](todos.value))

function addTodo(): void {
  const value = addText.value.trim()
  if (value) {
    todos.value.push({
      id: Date.now(),
      title: value,
      completed: false
    })
    addText.value = ''
  }
}

function toggleAll() {
  const allChecked = todos.value.every((v) => v.completed)
  todos.value.forEach((todo) => (todo.completed = !allChecked))
}

function editTodo(todo: TodoItem) {
  editedTodo.value = JSON.parse(JSON.stringify(todo))
}

function removeTodo(todo: TodoItem) {
  todos.value.splice(todos.value.indexOf(todo), 1)
}

function doneEdit(todo: TodoItem) {
  const title = editedTodo.value!.title.trim()
  if (title) todo.title = title
  else removeTodo(todo)
  editedTodo.value = null
}

function cancelEdit() {
  editedTodo.value = null
}

function removeCompleted() {
  todos.value = filters.active(todos.value)
}

function onSwitch(href: keyof typeof filters) {
  visibility.value = href
}

// 状态持久化
watchEffect(() => {
  uni.setStorageSync(STORAGE_KEY, todos.value)
})
</script>

<template>
  <view class="todoapp">
    <view class="header">
      <view class="h1">Todos</view>
      <input v-model="addText" class="new-todo" autofocus placeholder="What needs to be done?" />
      <button v-if="addText" class="add-btn" size="mini" @tap="addTodo">Add</button>
    </view>
    <view class="main" v-show="todos.length">
      <checkbox id="toggle-all" class="toggle-all" type="checkbox" :checked="remaining === 0" />
      <label for="toggle-all" @tap="toggleAll">Mark all as complete</label>
      <view class="todo-list">
        <view
          v-for="todo in filteredTodos"
          class="li todo"
          :key="todo.id"
          :class="{ completed: todo.completed, editing: todo.id === editedTodo?.id }"
        >
          <view class="view">
            <checkbox
              class="toggle"
              type="checkbox"
              :checked="todo.completed"
              @tap="todo.completed = !todo.completed"
            />
            <label
              class="label"
              :class="{ label_checked: todo.completed }"
              @longpress="editTodo(todo)"
              >{{ todo.title }}</label
            >
            <button class="destroy" @tap="removeTodo(todo)"></button>
          </view>
          <block v-if="todo.id === editedTodo?.id">
            <input class="edit" type="text" v-model="editedTodo.title" autofocus />
            <button class="confirm" type="primary" size="mini" @tap="doneEdit(todo)">确认</button>
            <button class="cancel" size="mini" @tap="cancelEdit">取消</button>
          </block>
        </view>
        <view class="footer" v-show="todos.length">
          <text class="todo-count">
            <text class="strong">{{ remaining }}</text>
            <text> item{{ remaining === 1 ? '' : 's' }} left</text>
          </text>
          <view class="filters">
            <view class="li">
              <text class="a" @tap="onSwitch('all')" :class="{ selected: visibility === 'all' }"
                >All</text
              >
            </view>
            <view class="li">
              <text
                class="a"
                @tap="onSwitch('active')"
                :class="{ selected: visibility === 'active' }"
                >Active</text
              >
            </view>
            <view class="li">
              <text
                class="a"
                @tap="onSwitch('completed')"
                :class="{ selected: visibility === 'completed' }"
                >Completed</text
              >
            </view>
          </view>
          <button class="clear-completed" @tap="removeCompleted" v-show="todos.length > remaining">
            Clear completed
          </button>
        </view>
      </view>
    </view>
  </view>
</template>

<style scoped lang="scss">
@import '@/static/todolist.scss';
</style>
