.todoapp {
  background: #fff;
  margin: 130rpx 0 40rpx 0;
  position: relative;
  box-shadow:
    0 2rpx 4rpx 0 rgba(0, 0, 0, 0.2),
    0 25rpx 50rpx 0 rgba(0, 0, 0, 0.1);

  html,
  body {
    margin: 0;
    padding: 0;
  }

  body {
    font:
      14rpx 'Helvetica Neue',
      Helvetica,
      Arial,
      sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #111111;
    min-width: 230rpx;
    max-width: 550rpx;
    margin: 0 auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 300;
  }

  .hidden {
    display: none;
  }

  .header {
    position: relative;
  }
  .h1 {
    position: absolute;
    top: -140rpx;
    width: 100%;
    font-size: 80rpx;
    font-weight: 200;
    text-align: center;
    color: #b83f45;
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
  }

  .new-todo,
  .edit {
    position: relative;
    margin: 0;
    // width: 100%;
    font-size: 30rpx;
    font-family: inherit;
    font-weight: inherit;
    // line-height: 1.4em;
    color: inherit;
    padding: 6rpx;
    border: 1rpx solid #999;
    box-shadow: inset 0 -1rpx 5rpx 0 rgba(0, 0, 0, 0.2);
    // box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .new-todo {
    padding: 16rpx 16rpx 16rpx 60rpx;
    // height: 75rpx;
    width: 70%;
    border: none;
    outline: none;
    background: rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 -2rpx 1rpx rgba(0, 0, 0, 0.03);
  }

  .main {
    position: relative;
    z-index: 2;
    border-top: 1rpx solid #e6e6e6;
  }

  .toggle-all {
    width: 1rpx;
    height: 1rpx;
    border: none; /* Mobile Safari */
    opacity: 0;
    position: absolute;
    right: 100%;
    bottom: 100%;
  }

  .add-btn {
    position: absolute;
    right: 10rpx;
    bottom: 15rpx;
    font-size: 25rpx;
  }

  .toggle-all + label {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45rpx;
    height: 65rpx;
    font-size: 0;
    position: absolute;
    top: -70rpx;
    left: 10rpx;
  }

  .toggle-all + label:before {
    content: '❯';
    display: inline-block;
    font-size: 30rpx;
    color: #949494;
    padding: 10rpx 27rpx 10rpx 27rpx;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }

  .toggle-all:checked + label:before {
    color: #484848;
  }

  .todo-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .todo-list .li {
    position: relative;
    font-size: 35rpx;
    border-bottom: 1rpx solid #ededed;
  }

  .todo-list .li:last-child {
    border-bottom: none;
  }

  .todo-list .li.editing {
    border-bottom: none;
    padding: 0;
  }

  .todo-list .li.editing .edit {
    display: inline-block;
    width: calc(100% - 353rpx);
    padding: 12rpx 16rpx;
    margin: 0 0 0 43rpx;
  }

  .confirm,
  .cancel {
    font-size: 25rpx;
    margin: 10rpx;
  }

  .todo-list .li.editing .view {
    display: none;
  }

  .todo-list .li .toggle {
    text-align: center;
    width: 40rpx;
    /* auto, since non-WebKit browsers doesn't support input styling */
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    border: none; /* Mobile Safari */
    -webkit-appearance: none;
    appearance: none;
  }

  .todo-list .li .toggle {
    opacity: 0;
  }

  .todo-list .li .label {
    /*
      Firefox requires `#` to be escaped - https://bugzilla.mozilla.org/show_bug.cgi?id=922433
      IE and Edge requires *everything* to be escaped to render, so we do that instead of just the `#` - https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/7157459/
    */
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%23949494%22%20stroke-width%3D%223%22/%3E%3C/svg%3E');
    background-repeat: no-repeat;
    background-position: center left;
    background-size: auto 70%;
  }

  .todo-list .li .label_checked {
    background-image: url('data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2240%22%20height%3D%2240%22%20viewBox%3D%22-10%20-18%20100%20135%22%3E%3Ccircle%20cx%3D%2250%22%20cy%3D%2250%22%20r%3D%2250%22%20fill%3D%22none%22%20stroke%3D%22%2359A193%22%20stroke-width%3D%223%22%2F%3E%3Cpath%20fill%3D%22%233EA390%22%20d%3D%22M72%2025L42%2071%2027%2056l-4%204%2020%2020%2034-52z%22%2F%3E%3C%2Fsvg%3E');
  }

  .todo-list .li label {
    word-break: break-all;
    padding: 15rpx 15rpx 15rpx 60rpx;
    display: block;
    line-height: 1.2;
    transition: color 0.4s;
    font-weight: 400;
    color: #484848;
  }

  .todo-list .li.completed label {
    color: #949494;
    text-decoration: line-through;
  }

  .todo-list .li .destroy {
    position: absolute;
    top: 0;
    right: 10rpx;
    bottom: 0;
    width: 40rpx;
    height: 40rpx;
    margin: auto 0;
    font-size: 20rpx;
    color: #c18585;
    transition: color 0.2s ease-out;
  }

  .todo-list .li .destroy:after {
    content: '×';
    font-size: 60rpx;
    line-height: 70rpx;
    display: block;
  }

  .todo-list .li .edit {
    display: none;
  }

  .todo-list .li.editing:last-child {
    margin-bottom: -1rpx;
  }

  .footer {
    padding: 10rpx 15rpx;
    height: 40rpx;
    text-align: center;
    font-size: 25rpx;
    border-top: 1rpx solid #e6e6e6;
  }

  .footer:before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 50rpx;
    overflow: hidden;
    box-shadow:
      0 1rpx 1rpx rgba(0, 0, 0, 0.2),
      0 8rpx 0 -3rpx #f6f6f6,
      0 9rpx 1rpx -3rpx rgba(0, 0, 0, 0.2),
      0 16rpx 0 -6rpx #f6f6f6,
      0 17rpx 2rpx -6rpx rgba(0, 0, 0, 0.2);
  }

  .todo-count {
    float: left;
    text-align: left;
    line-height: 40rpx;
  }

  .todo-count .strong {
    font-weight: 300;
  }

  .filters {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    right: 0;
    left: 0;
  }

  .filters .li {
    display: inline-flex;
    align-items: center;
  }

  .filters .li .a {
    display: inline-block;
    color: inherit;
    margin: 3rpx;
    font-size: 25rpx;
    padding: 3rpx 7rpx;
    text-decoration: none;
    border: 1rpx solid transparent;
    border-radius: 3rpx;
  }

  .filters .li .a.selected {
    border-color: #ce4646;
  }

  .clear-completed,
  html .clear-completed:active {
    line-height: 40rpx;
    float: right;
    position: relative;
    // line-height: 19rpx;
    text-decoration: none;
    cursor: pointer;
    font-size: 20rpx;
    width: auto;
    padding: 0 10rpx;
  }

  .clear-completed:hover {
    text-decoration: underline;
  }

  .info {
    margin: 65rpx auto 0;
    color: #4d4d4d;
    font-size: 11rpx;
    text-shadow: 0 1rpx 0 rgba(255, 255, 255, 0.5);
    text-align: center;
  }

  .info p {
    line-height: 1;
  }

  .info a {
    color: inherit;
    text-decoration: none;
    font-weight: 400;
  }

  .info a:hover {
    text-decoration: underline;
  }

  /*
    Hack to remove background from Mobile Safari.
    Can't use it globally since it destroys checkboxes in Firefox
  */
  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    .toggle-all,
    .todo-list .li .toggle {
      background: none;
    }

    .todo-list .li .toggle {
      height: 40rpx;
    }
  }

  @media (max-width: 430rpx) {
    .footer {
      height: 50rpx;
    }

    .filters {
      bottom: 10rpx;
    }
  }

  :focus,
  .toggle:focus + label,
  .toggle-all:focus + label {
    box-shadow: 0 0 2rpx 2rpx #cf7d7d;
    outline: 0;
  }
}
